__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
cache/
.cache/
.vscode/
static/
tests/
node_modules/
utilities/playwright_scraper/*
!utilities/playwright_scraper/scraper.js
!package.json
!package-lock.json