__pycache__/
*.py[cod]
*$py.class
.venv/
cache/
.vscode/
static/
node_modules/
utilities/playwright_scraper/*
!utilities/playwright_scraper/scraper.js
!package.json
!package-lock.json
uploads/
data/
temp/
.agents/